<div class="card">
    <div class="card-body">
        <h1>About us</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa ullam accusamus aliquid, magni aut quos enim
            dolore dolorum odit? Hic cum, earum, recusandae fugit illum dolore nulla optio provident suscipit odit rerum
            maiores quam iste, consectetur laborum commodi perspiciatis sed.</p>
    </div>
</div>