<div class="jumbotron mt-4">
    <h1 class="display-4">ESTE es el index</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi eaque ducimus ullam dicta voluptatibus rerum
        odit qui delectus porro et!</p>
    <a href="https://33lab.cl/" class="btn btn-primary btn-lg">33 LAB</a>
</div>